#profressBar20{
    width:20%;
}
#profressBar40{
width:40%;
}

#profressBar60{
    width:60%;
    }

    #profressBar80{
        width:80%;
        }

        #profressBar100{
            width:100%;
            }